<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<p>ID:</p><p th:text="${order.getId()}"></p>
<p>Username:</p><p th:text="${order.getUser().getUsername()}"></p>
<p>Первый день:</p><p th:text="${order.getFirstDay()}"></p>
<p>Последний день:</p><p th:text="${order.getLastDay()}"></p>
<p>Машина:</p><p th:text="${order.getCar().getName()}"></p>
<p>Статус:</p><p th:text="${order.getOrderStatus().getTitle()}"></p>
<div th:switch="${order.getOrderStatus()}">
    <div th:case="${T(me.ride.entity.system.OrderStatus).REFUSED}"><p >Сообщение:</p>
        <p th:text="${note?.message}"></p></div>
    <a th:case="${T(me.ride.entity.system.OrderStatus).ACCEPTED}" th:href="@{/orders/pay/{id}(id=${order.getId()})}">Оплатить</a>
</div>
<br/>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>