<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>Username</th>
        <th>Первый день аренды</th>
        <th>Последний день аренды</th>
        <th>Машина</th>
        <th>Статус</th>
        </thead>
        <div th:each="order : ${orders}">
            <tr>
                <td th:text="${order.getId()}"></td>
                <td th:text="${order.getUser().getUsername()}"></td>
                <td th:text="${order.getFirstDay()}"></td>
                <td th:text="${order.getLastDay()}"></td>
                <td th:text="${order.getCar().getName()}"></td>
                <td th:text="${order.getOrderStatus().getTitle()}"></td>
                <td><a th:href="@{/admin/order/{orderId}(orderId=${order.getId()})}">Обработать</a></td>
            </tr>
        </div>
    </table>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>