<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<form class="card-body" style="width: 20rem" th:method="POST" th:action="@{/cars}">
    <div class="mb-3">
        <label for="name">Модель: </label>
        <input type="text" class="form-control" th:field="*{car.name}" id="name"/>
    </div>
    <div class="mb-3">
        <label for="bags">Багаж: </label>
        <input type="text" class="form-control" th:field="*{car.bags}" id="bags"/>
    </div>
    <div class="mb-3">
        <label for="doors">Дверей: </label>
        <input type="number" class="form-control" th:field="*{car.doors}" id="doors"/>
    </div>
    <div class="mb-3">
        <label for="passengers">Пассажиров: </label>
        <input type="number" class="form-control" th:field="*{car.passengers}" id="passengers"/>
    </div>
    <p>Тип: </p>
    <select class="form-control" th:field="*{car.carType}" required>
        <option th:value="ECONONY" th:text="${T(me.ride.entity.car.CarType).ECONOMY.getTitle()}">Эконом</option>
        <option th:value="COMPACT" th:text="${T(me.ride.entity.car.CarType).COMPACT.getTitle()}">Компакт</option>
        <option th:value="COMPACT_SUV" th:text="${T(me.ride.entity.car.CarType).COMPACT_SUV.getTitle()}">Компактный кроссовер</option>
        <option th:value="INTERMEDIATE" th:text="${T(me.ride.entity.car.CarType).INTERMEDIATE.getTitle()}">Средний</option>
        <option th:value="INTERMEDIATE_SUV" th:text="${T(me.ride.entity.car.CarType).INTERMEDIATE_SUV.getTitle()}">Средний кроссовер</option>
        <option th:value="STANDART" th:text="${T(me.ride.entity.car.CarType).STANDARD.getTitle()}">Стандарт</option>
        <option th:value="STANDART_SUV" th:text="${T(me.ride.entity.car.CarType).STANDARD_SUV.getTitle()}">Стандартный кроссовер</option>
        <option th:value="FULL_SIZE" th:text="${T(me.ride.entity.car.CarType).FULL_SIZE.getTitle()}">Полноразмерный</option>
        <option th:value="FULL_SIZE_SUV" th:text="${T(me.ride.entity.car.CarType).FULL_SIZE_SUV.getTitle()}">Полноразмерный кроссовер</option>
        <option th:value="PREMIUM" th:text="${T(me.ride.entity.car.CarType).PREMIUM.getTitle()}">Премиум</option>
        <option th:value="MINIVAN" th:text="${T(me.ride.entity.car.CarType).MINIVAN.getTitle()}">Минивэн</option>
        <option th:value="SPORT" th:text="${T(me.ride.entity.car.CarType).SPORT.getTitle()}">Спортивный</option>
    </select>
    <div class="mb-3">
        <label for="price">Цена в день: </label>
        <input class="form-control" type="number" step=0.01 min=0 th:field="*{price.pricePerDay}" id="price" required/>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>