<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<form th:method="POST" th:action="@{/cars}" th:object="${car}">
    <label for="name">Модель: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="bags">Багаж: </label>
    <input type="text" th:field="*{bags}" id="bags"/>
    <br/>
    <label for="doors">Дверей: </label>
    <input type="text" th:field="*{doors}" id="doors"/>
    <br/>
    <label for="passengers">Пассажиров: </label>
    <input type="text" th:field="*{passengers}" id="passengers"/>
    <br/>
    <p>Тип: </p>
    <select th:field="*{carType}" required>
        <option th:value="ECONONY" th:text="${T(me.ride.entity.car.CarType).ECONONY.getTitle()}">Эконом</option>
        <option th:value="COMPACT" th:text="${T(me.ride.entity.car.CarType).COMPACT.getTitle()}">Компакт</option>
        <option th:value="COMPACT_SUV" th:text="${T(me.ride.entity.car.CarType).COMPACT_SUV.getTitle()}">Компактный кроссовер</option>
        <option th:value="INTERMEDIATE" th:text="${T(me.ride.entity.car.CarType).INTERMEDIATE.getTitle()}">Средний</option>
        <option th:value="INTERMEDIATE_SUV" th:text="${T(me.ride.entity.car.CarType).INTERMEDIATE_SUV.getTitle()}">Средний кроссовер</option>
        <option th:value="STANDART" th:text="${T(me.ride.entity.car.CarType).STANDART.getTitle()}">Стандарт</option>
        <option th:value="STANDART_SUV" th:text="${T(me.ride.entity.car.CarType).STANDART_SUV.getTitle()}">Стандартный кроссовер</option>
        <option th:value="FULL_SIZE" th:text="${T(me.ride.entity.car.CarType).FULL_SIZE.getTitle()}">Полноразмерный</option>
        <option th:value="FULL_SIZE_SUV" th:text="${T(me.ride.entity.car.CarType).FULL_SIZE_SUV.getTitle()}">Полноразмерный кроссовер</option>
        <option th:value="PREMIUM" th:text="${T(me.ride.entity.car.CarType).PREMIUM.getTitle()}">Премиум</option>
        <option th:value="MINIVAN" th:text="${T(me.ride.entity.car.CarType).MINIVAN.getTitle()}">Минивэн</option>
    </select>
<!--    <input type="text" th:field="*{carType}" id="carType"/>-->
    <br/>
    <input type="submit" value="Create!"/>
</form>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>