<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/logo.png}" alt="logo"/></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse collapse" id="navbarNav">
       <ul class="navbar-nav" >
         <li class="nav-item active">
           <a class="nav-link active" href="/">Главная</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" th:href="@{/cars}">Машины</a>
         </li>
         <li sec:authorize="isAnonymous()" class="nav-item">
           <a class="nav-link" th:href="@{/login}">Войти</a>
         </li>
         <li sec:authorize="isAnonymous()" class="nav-item">
           <a class="nav-link" th:href="@{/client/register}">Регистрация</a>
         </li>
       </ul>
       <ul class="navbar-nav navbar-right" >
         <li sec:authorize="isAuthenticated()" class="nav-item"></li>
         <li sec:authorize="isAuthenticated()" class="nav-item">
           <a class="nav-link" th:href="@{/client/profile}">Профиль</a>
         </li>
         <li sec:authorize="isAuthenticated()" class="nav-item">
           <a class="nav-link" th:href="@{/logout}">Выйти</a>
         </li>
       </ul>
    </div>
    </div>
  </nav>
</th:block>
</body>
</html>