<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Index</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <header th:insert="~{fragments/header :: header}"> </header>
    <h1>Main page</h1>
    <a href="/cars">Машины</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">ADMIN</a>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>