<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<p>ID</p><p th:text="${order.getId()}"></p>
<p>Username</p><p th:text="${order.getUser().getUsername()}"></p>
<p>Первый день</p><p th:text="${order.getFirstDay()}"></p>
<p>Последний день</p><p th:text="${order.getLastDay()}"></p>
<p>Машина</p><p th:text="${order.getCar().getName()}"></p>
<p>Статус</p><p th:text="${order.getOrderStatus().getTitle()}"></p>
<br/>
<form th:action="@{/admin/orders}" th:method="PATCH">
    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
    <input type="hidden" name="action" value="accept" />
    <button type="submit">Одобрить</button>
</form>
<form th:action="@{/admin/orders}" th:method="PATCH">
    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
    <div>Машина не повреждена</div><input type="radio" name="action" value="return" checked>
    <div>Машина повреждена</div><input type="radio" name="action" value="damaged">
    <div>Сумма повреждений</div><input type="number" step="0.01" min=0.01 name="damage">
    <button type="submit">Зафиксировать возврат</button>
</form>
<form th:action="@{/admin/orders}" th:method="PATCH">
    <input type="hidden" name="orderId" th:value="${order.getId()}"/>
    <input type="hidden" name="action" value="refuse"/>
    <p><b>Сообщение, если требуется:</b></p>
    <p><textarea name="message"></textarea></p>
    <button type="submit">Отклонить</button>
</form>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>