<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Новый заказ</title>
</head>
<body>
<form th:method="POST" th:action="@{/orders}">
    <p>Ваша машина: </p><a th:text="${car.getName()}"></a>
    <hr/>
    <p>Заполните форму:</p>
    <hr/>
    <label for="firstDay">Первый день аредны: </label>
    <input type="date" th:field="${order.firstDay}" id="firstDay"/>
    <br/>
    <label for="lastDay">Последний день аренды: </label>
    <input type="date" th:field="${order.lastDay}" id="lastDay"/>
    <br/>
<!--    <input type="hidden" th:field="*{order.carId}" id="carId">-->
    <input type="submit" value="Сделать заказ!"/>
</form>
</body>
</html>