<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<p th:text="${user.username}"></p>
<p th:text="${client.name}"></p>
<p th:text="${client.surname}"></p>
<p th:text="${client.dateOfBirth}"></p>
<p th:text="${client.sex}"></p>
<p th:text="${client.email}"></p>
<p th:text="${client.passportNo}"></p>
<p th:text="${client.dateOfIssue}"></p>
<p th:text="${client.dateOfExpiry}"></p>
<p th:text="${client.authority}"></p>
<p th:text="${client.personalNo}"></p>
<p th:text="${client.name}"></p>
</body>
</html>