<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Car</title>
  <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<p>Модель: </p><a th:text="${car.getName()}"></a>
<p>Багаж: </p><a th:text="${car.getBags()}"></a>
<p>Дверей: </p><a th:text="${car.getDoors()}"></a>
<p>Пассажиров: </p><a th:text="${car.getPassengers()}"></a>
<p>Тип: </p><a th:text="${car.getCarType()}"></a>
<div th:insert="~{fragments/footer :: footer}"></div>
<br/>
<hr/>
<a th:href="@{/admin/cars/maintenance/{carId}(carId=${id})}">Оформить тех.обслуживание</a>
</body>
</html>