<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Car</title>
  <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<p>Модель: </p><a th:text="${car.getName()}"></a>
<p>Багаж: </p><a th:text="${car.getBags()}"></a>
<p>Дверей: </p><a th:text="${car.getDoors()}"></a>
<p>Пассажиров: </p><a th:text="${car.getPassengers()}"></a>
<p>Тип: </p><a th:text="${car.getCarType()}"></a>
<form th:method="POST" th:action="@{/admin/prices/edit}">
  <label for="surname">Цена в день: </label>
  <input type="hidden" th:field="*{price.car}" id="car">
  <input type="hidden" th:field="*{price.id}" id="priceId">
  <input type="number" step=0.01 min=0 th:field="*{price.pricePerDay}" id="surname" required/>
  <div style="color: red" th:if="${#fields.hasErrors('price.pricePerDay')}" th:errors="*{price.pricePerDay}">surname error</div>
  <br/>
  <input type="submit" value="Изменить"/>
</form>
<div th:insert="~{fragments/footer :: footer}"></div>
<br/>
<hr/>
<a th:href="@{/admin/cars/maintenance/{carId}(carId=${id})}">Оформить тех.обслуживание</a>
</body>
</html>